.cache
.history
.scala_dependencies
target
lib_managed
src_managed
project/boot
.DS_Store
project/target
project/project/target
.idea
.idea_modules
.project
.classpath
.settings
core/target
lift/target
json4s/target
std/target
blueeyes/target
